/* !VØvo.๖ۣۜDoidø Δ¹ --> */
[data-cid^="3924364-"] .msg .from .un {

background: url("http://i.imgur.com/XLglzY3.png") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #42a5dc !important;
}
/* <-- !VØvo.๖ۣۜDoidø Δ¹ */
