/* Icon EDT !VØvo.๖ۣۜDoidø Δ¹ */
 
[data-cid^="3924364-"] .from .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
[data-cid^="3924364-"] .id .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
/* Icon EDT !VØvo.๖ۣۜDoidø Δ¹ */
 
/* Icon EDT Editor Satskhi */
 
[data-cid^="4453527-"] .from .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
[data-cid^="4453527-"] .id .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
[data-cid^="4405644-"] .from .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
[data-cid^="4405644-"] .id .un:after {
    content: url("http://i.imgur.com/t5kZKEe.png") !important;
    top: 1px !important;
    padding-left: 5px !important;
    position: relative !important;
    size: 15px!important;
}
/* Icon EDT Editor Satskhi */
