/* !VØvo.๖ۣۜDoidø Δ¹ --> */
[data-cid^="3924364-"] .msg .from .un {

background: url("http://i.imgur.com/XLglzY3.png") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #42a5dc !important;
}
/* <-- !VØvo.๖ۣۜDoidø Δ¹ */


/* 4SharedPRO --> */
[data-cid^="3424833-"] .badge-box .bdg {
    background-image: url("http://i.imgur.com/fA1NtWn.gif") !important;
    
    background-repeat: round !important;
}
/* <-- 4SharedPRO */

/* Satskhi --> */
[data-cid^="4405644-"] .msg .from .un {

background: url("http://i.imgur.com/p9j9onO.gif") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #42a5dc !important;
}
[data-cid^="4405644-"] .badge-box .bdg {

border-radius: 5px !important;

background-image: url("http://i.imgur.com/fLxBUZz.gif") !important;

background-repeat: round !important;
}
/* <-- Satskhi */
