/* !VØvo.๖ۣۜDoidø Δ¹ --> */
[data-cid^="3924364-"] .msg .from .un {

background: url("http://i.imgur.com/XLglzY3.png") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #42a5dc !important;
}
/* <-- !VØvo.๖ۣۜDoidø Δ¹ */

/* 4SharedPRO --> */
[data-cid^="3424833-"] .badge-box .bdg {
    background-image: url("http://i.imgur.com/fA1NtWn.gif") !important;
    background-repeat: round !important;
}
[data-cid^="3424833-"] .msg .from .icon {
    background-image: url("http://i.imgur.com/EmyFUK7.png") !important;
    background-size: 15px !important;
}
/* <-- 4SharedPRO */

/* SΔtskhi --> */
[data-cid^="4453527-"] .msg .from .un {

background: url("http://i.imgur.com/p9j9onO.gif") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #D41777 !important;
}
[data-cid^="4453527-"] .badge-box .bdg {

border-radius: 5px !important;

background-image: url("http://i.imgur.com/BsAOPLJ.gif") !important;

background-repeat: round !important;

background-size: 30px !important;
}
#user-rollover.id-4453527 .thumb {
   border-color: #ffc125 !important;
}
#user-rollover.id-4453527 .badge-box .bdg {
   border-radius: 5px !important;

background-image: url("http://i.imgur.com/xNlKi1f.gif") !important;

background-repeat: round !important;

background-size: 30px !important;
}
#user-rollover.id-4453527 .info .role i {

background: url("http://i.imgur.com/p9j9onO.gif") !important;

background-repeat: no-repeat !important;

background-size: 16px auto !important;

color: #40a0ca !important;
}
/* <-- SΔtskhi */

/* CHUCK --> */
[data-cid^="4023220-"] .badge-box .bdg {
    background-image: url("http://i.imgur.com/Qmb4y2e.gif") !important;
    
    background-repeat: round !important;
    
    background-size: 16px auto !important;
}
/* <-- CHUCK */

/* Satskhi --> */
[data-cid^="4405644-"] .msg .from .un {

background: url("http://i.imgur.com/p9j9onO.gif") !important;

background-repeat: no-repeat !important;

padding: 0px 0px 0px 20px !important;

background-size: 16px auto !important;

color: #D41777 !important;
}
[data-cid^="4405644-"] .badge-box .bdg {

border-radius: 5px !important;

background-image: url("http://i.imgur.com/BsAOPLJ.gif") !important;

background-repeat: round !important;

background-size: 30px !important;
}
#user-rollover.id-4405644 .thumb {
   border-color: #ffc125 !important;
}
#user-rollover.id-4405644 .badge-box .bdg {
   border-radius: 5px !important;

background-image: url("http://i.imgur.com/xNlKi1f.gif") !important;

background-repeat: round !important;

background-size: 30px !important;
}
#user-rollover.id-4405644 .info .role i {

background: url("http://i.imgur.com/p9j9onO.gif") !important;

background-repeat: no-repeat !important;

background-size: 16px auto !important;

color: #40a0ca !important;
}
/* <-- Satskhi */
